# Tutorial Data Preprocessing

## Tao ƒë·∫∑c tr∆∞ng m·ªõi - Feature extraction - (Feature extration 1 ph·∫ßn c·ªßa Feature engineering)

- D·ª±a tr√™n 1 s·ªë kinh nghi·ªám tr√™n lƒ©nh v·ª±c c·ªßa mi·ªÅn d·ªØ li·ªáu ƒëang l√†m --> ƒë·∫∑c tr∆∞ng m·ªõi --> d·ª± ƒëo√°n gi√° tr·ªã ouput t·ªët h∆°n
- D·ªØ li·ªáu d·∫°ng b·∫£ng --> b∆∞·ªõc quan tr·ªçng --> m√¥ h√¨nh tƒÉng ƒë·ªô accuracy l√™n (ƒë√¢y l√† s·ª± kh√°c bi·ªát)

- ***Feature engineering***: bao g·ªìm feature extraction, feature transformation, feature selection

## 1. Bi·∫øn ƒë·ªïi to√°n h·ªçc

In [48]:
import pandas as pd

df = pd.DataFrame({
    'velocity' : [7, 9, 11, 20, 10, 15], # v·∫≠n t·ªëc
    'time' : [8, 10, 6, 4, 3, 9]
})
df

   velocity  time
0         7     8
1         9    10
2        11     6
3        20     4
4        10     3
5        15     9

In [49]:
# T·∫°o th√™m 1 ƒë·∫∑c tr∆∞ng b·∫±ng c√¥ng th·ª©c to√°n h·ªçc: v = s * t  | ·ªü ƒë√¢y l√† ph√©p nh√¢n t·ª´ng ph·∫ßn t·ª≠, nh√¢n theo h√†ng
df['distance'] = df['velocity'] * df['time']
df

   velocity  time  distance
0         7     8        56
1         9    10        90
2        11     6        66
3        20     4        80
4        10     3        30
5        15     9       135

## 2. ƒê·∫øm s·ªë l·∫ßn, t·∫ßn s·ªë xu·∫•t hi·ªán

In [50]:
# ƒê·∫øm t·∫ßn s·ªë xu·∫•t hi·ªán
import pandas as pd

df = pd.DataFrame({
    'value' : [100, 150, 50, 200, 100, 100],
    'Color' : 'Red Red Blue Red Green Blue'.split()
    })
df

   value  Color
0    100    Red
1    150    Red
2     50   Blue
3    200    Red
4    100  Green
5    100   Blue

In [51]:
# ƒë·∫øm t·∫ßn s·ªët xu·∫•t hi·ªán --> t·∫°o ra th√™m 1 c·ªôt color_count --> ƒë·∫øm c·ªôt val trong dict
vc = df['Color'].value_counts().to_dict() # chuy·ªÉn ƒë·ªïi th√†nh d·∫°ng dictionary
vc

{'Red': 3, 'Blue': 2, 'Green': 1}

In [52]:
# Th√™m c·ªôt m·ªõi t·∫ßn s·ªë color_count 
df['Colo_count'] = df['Color'].map(vc) # map d√πng ƒë·ªÉ color count tra trong b·∫£ng t∆∞∆°ng ·ª©ng l√† bao nhi√™u --> ƒëi·ªÅm cho Color_count
df

   value  Color  Colo_count
0    100    Red           3
1    150    Red           3
2     50   Blue           2
3    200    Red           3
4    100  Green           1
5    100   Blue           2

## 3. ƒê·∫øm s·ªë l∆∞∆°ng theo nhi·ªÅu c√¥t

In [53]:
df = pd.DataFrame({
    'Bus' : [0, 0, 0, 1, 0],
    'Car' : [0, 0, 0, 0, 1],
    'Motobike' : [0, 1, 0, 0, 1]
    })
df

   Bus  Car  Motobike
0    0    0         0
1    0    0         1
2    0    0         0
3    1    0         0
4    0    1         1

axis=1 = t√≠nh to√°n theo chi·ªÅu ngang (row-wise)
‚Üí V·ªõi m·ªói h√†ng, l·∫•y gi√° tr·ªã l·ªõn nh·∫•t trong c√°c c·ªôt Car, Motobike, Bus.

In [54]:
# Ki·ªÉm tra c√≥ d√πng vehicle ko
vehicles = ['Car', 'Motobike', 'Bus']
df['use_vehicle'] = df[vehicles].max(axis=1)
# df['use_vehicle'] = df[vehicles].max(axis=0) # gi√° tr·ªã s·∫Ω l√† NaN v√¨ ch·ªâ c√≥ 3 bi·∫øn nh∆∞ng l·∫°i c√≥ 5 d√≤ng n√™n kh√¥ng th·ªèa kh√¥ng hi·ªÉu NaN ƒë·ªÉ tr√°nh b√°o l·ªói an to√†n
df

   Bus  Car  Motobike  use_vehicle
0    0    0         0            0
1    0    0         1            1
2    0    0         0            0
3    1    0         0            1
4    0    1         1            1

## 4. Ph√¢n r√£ ƒë·∫∑c tr∆∞ng t·ª´ chu·ªói c√≥ c·∫•u tr√∫c

- D·ªØ li·ªáu dataframe ƒëu∆∞·ª£ format theo d·∫°ng nh·∫•t d·∫°ng

In [70]:
df = pd.DataFrame({
    'OSInfo' : [
            'Apple MacOS X 10.0', 'Microsoft Windows 11', 
            'Microsoft Window XP', 'Apple MacOS X 10.5', 
            'Apple iOS 11.5', 'Microsoft Windows Vista'
        ]
})
df

                    OSInfo
0       Apple MacOS X 10.0
1     Microsoft Windows 11
2      Microsoft Window XP
3       Apple MacOS X 10.5
4           Apple iOS 11.5
5  Microsoft Windows Vista

In [ ]:
# df['OSInfo'].str.split(' ', n=1) # n: s·ªë c·ªôt t√°ch th√™m theo t·ª´

0         [Apple, MacOS X 10.0]
1       [Microsoft, Windows 11]
2        [Microsoft, Window XP]
3         [Apple, MacOS X 10.5]
4             [Apple, iOS 11.5]
5    [Microsoft, Windows Vista]
Name: OSInfo, dtype: object

In [72]:
# t√°ch theo h√£ng h·∫π ƒëi·ªÅu h√†nh - phi√™n b·∫£n
df['OSInfo'].str.split(' ', n=1, expand=True) # n: s·ªë c·ªôt t√°ch th√™m theo t·ª´

           0              1
0      Apple   MacOS X 10.0
1  Microsoft     Windows 11
2  Microsoft      Window XP
3      Apple   MacOS X 10.5
4      Apple       iOS 11.5
5  Microsoft  Windows Vista

In [73]:
# Sao khi t√°ch d·ªØ li·ªáu --> thay ƒë·ªïi t√™n b·∫£ng
df['OSInfo'].str.split(' ', n=1, expand=True).rename(columns={0:'company', 1:'OS'})

     company             OS
0      Apple   MacOS X 10.0
1  Microsoft     Windows 11
2  Microsoft      Window XP
3      Apple   MacOS X 10.5
4      Apple       iOS 11.5
5  Microsoft  Windows Vista

In [ ]:
# Sao ƒë√≥ merge l·∫°i dataFrame c≈© v√† DataFrame m·ªõi c√°c c·ªôt m·ªõi t√°ch ra theo c√°c ƒë·∫∑c tr∆∞ng m·ªõi = 'join'
df.join(df['OSInfo'].str.split(' ', n=1, expand=True).rename(columns={0:'Company', 1:'OS'}))
# ph·∫£i g·ªçi str v√¨ ki·ªÉu d·ªØ li·ªáu b√™n trong l√† series .str ƒë·ªÉ cho pandas bi·∫øt gi·∫£ ƒë·ªãnh n√≥ th√†nh str ƒë·ªÉ x·ª≠ l√Ω

                    OSInfo    Company             OS
0       Apple MacOS X 10.0      Apple   MacOS X 10.0
1     Microsoft Windows 11  Microsoft     Windows 11
2      Microsoft Window XP  Microsoft      Window XP
3       Apple MacOS X 10.5      Apple   MacOS X 10.5
4           Apple iOS 11.5      Apple       iOS 11.5
5  Microsoft Windows Vista  Microsoft  Windows Vista

## 5. T·ªïng h·ª£p ƒë·∫∑c tr∆∞ng

- Ph·∫ßn ngu·ª£c l·∫°i c·ªßa ph√¢n r√£ ƒë·∫∑c tr∆∞ng ==> t∆∞ 2 chu·ªói tr·ªôn l·∫°i th√†nh 2 ƒë·∫∑c tr∆∞ng

In [59]:
df = pd.DataFrame({
    'Make' : ['Toyota', 'Audi', 'Honda', 'Honda', 'Toyota', 'Mercesdes'],
    'Type' : ['Sedan', 'Sedan', 'Crossover', 'Hatchback', 'SUV', 'Sedan']
})
df

        Make       Type
0     Toyota      Sedan
1       Audi      Sedan
2      Honda  Crossover
3      Honda  Hatchback
4     Toyota        SUV
5  Mercesdes      Sedan

In [60]:
df['Make_type'] = df['Make'] + "_" + df['Type']
df

        Make       Type        Make_type
0     Toyota      Sedan     Toyota_Sedan
1       Audi      Sedan       Audi_Sedan
2      Honda  Crossover  Honda_Crossover
3      Honda  Hatchback  Honda_Hatchback
4     Toyota        SUV       Toyota_SUV
5  Mercesdes      Sedan  Mercesdes_Sedan

## 6. T·ªïng h·ª£p ƒë·∫∑c tr∆∞ng theo nh√≥m

- th∆∞c hi·ªán tr√™n 1 ƒë·∫∑c tr∆∞ng c·ªßa d·ªØ li·ªáu

In [61]:
df = pd.DataFrame({
    'City' : ['Danang', 'HCM', 'Hanoi', 'HCM', 'HCM', 'Hanoi', 'Danang'],
    'Salary' : [10, 20, 15, 8, 12, 15, 14]
})

df

     City  Salary
0  Danang      10
1     HCM      20
2   Hanoi      15
3     HCM       8
4     HCM      12
5   Hanoi      15
6  Danang      14

- G√¥m nh√≥m theo t∆∞ng gi√° tr·ªã, sau ƒë√≥ th·ª±c hi·ªán thao t√°c th·ªëng k√™

In [62]:
# G√¥m nh√≥m th√†nh m·ª©c l∆∞∆°ng trung b√¨nh: v√≠ d·ª• DN c√≥ c·ªôt l∆∞∆°ng v√† mu·ªën t·∫°o th√™m 1 c·ªôt l∆∞∆°ng trung b√¨nh ==> d√πng l·ªánh '.agg'
# b1: ph·∫£i groupby c·ªôt key ==> l·∫•y ra val xong d√πng ph∆∞∆°ng th·ª©c agg
# C√°ch 1
df.groupby('City')['Salary'].agg('mean')

City
Danang    12.000000
HCM       13.333333
Hanoi     15.000000
Name: Salary, dtype: float64

In [63]:
# C√°ch 2: d√πng l·ªánh transform
df.groupby('City')['Salary'].transform('mean')

0    12.000000
1    13.333333
2    15.000000
3    13.333333
4    13.333333
5    15.000000
6    12.000000
Name: Salary, dtype: float64

- l·ªánh transform n√†y sao khi t√≠nh trung b√¨nh v√† s·∫Ω g√°n l∆∞∆°ng trung b√¨nh l·∫°i t∆∞∆°ng ·ª©ng t·ª´ng tp, c√≤n agg th√¨ th·ªÉ hi·ªán c√°c tp ko tr√πng + l∆∞∆°ng trung b√¨nh
- L·ªánh agg th√¨ ko th·ªÉ n·ªëi v√†o b·∫£ng DataFrame c≈© ƒëu·ª£c v√¨ ch√™nh l·ªách s·ªë l∆∞·ª£ng

In [64]:
# T·∫°o th√™m 1 c·ªôt m·ªõi t√≠nh l∆∞∆°ng trung b√¨nh
df['AvgSalary'] = df.groupby('City')['Salary'].transform('mean')
df

     City  Salary  AvgSalary
0  Danang      10  12.000000
1     HCM      20  13.333333
2   Hanoi      15  15.000000
3     HCM       8  13.333333
4     HCM      12  13.333333
5   Hanoi      15  15.000000
6  Danang      14  12.000000

## 7. ƒê·∫∑c tr∆∞ng c·ª•m (***Ph√¢n kh√∫c***)

In [65]:
df = pd.DataFrame({
    'City' : ['Danang', 'HCM', 'Hanoi', 'HCM', 'HCM', 'Hanoi', 'Danang', 'Danang', 'Hanoi', 'HCM'],
    'Salary' : [10, 20, 15, 8, 12, 15, 14, 35, 30, 5]
})

df

     City  Salary
0  Danang      10
1     HCM      20
2   Hanoi      15
3     HCM       8
4     HCM      12
5   Hanoi      15
6  Danang      14
7  Danang      35
8   Hanoi      30
9     HCM       5

- G√¥m nh√≥m d·ª±a tr√™n ch√≠nh gi√° tr·ªã ƒë·ªÉ ph√¢n th√†nh c√°c ph√¢n kh√∫c kh√°c nhau ==> xem tr∆∞c ti·∫øp tren gi√° tr·ªã 
- X√©t 10 v√≥i c√°c d·ªØ li·ªáu l∆∞∆°ng b·∫±ng k·ªπ thu·∫≠t g√¥m nh√≥m b·∫±ng k·ªπ thu·∫≠t **unsupervised learning** - `K Means`

In [ ]:
from sklearn.cluster import KMeans
import numpy as np

kmeans = KMeans(n_clusters=3, n_init='auto') # n_init s·ªë l·∫ßn ch·∫°y Kmean v·ªõi thu·∫≠t to√°n ƒëang d√πng
df['SalCluster'] = kmeans.fit_predict(np.array(df['Salary']).reshape(-1, 1)) # quy ∆∞·ªõc b·∫Øt bu·ªôc (n_samples, 1) v√† kh√¥ng ƒë·ªçc ƒë∆∞·ª£c series n√™n √©p v·ªÅ np.array
df['SalCluster'] = df['SalCluster'].astype('category') # ban ƒë·∫ßu b·ªã hi·ªÉu l√† s·ªë, ph·∫£i l√† nh√£n ph√¢n lo·∫°i n·∫øu ƒë·ªÉ v·∫≠y th√¨ c√≥ th·ªÉ g√¢y .mean() v√¥ nghƒ©a,Model downstream c√≥ th·ªÉ hi·ªÉu sai (ordinal)
df

# C√°c gi√° tr·ªã cluster ·ªü ƒë√¢y kh√¥ng mang gi√° tr·ªã so s√°nh --> chi mang t√≠nh ch·∫•t ƒë·∫°i di·ªán nghƒ©a l√† 0,1,2 kh√¥ng c√≥ quan h·ªá nh·ªè l·ªõn

     City  Salary SalCluster
0  Danang      10          1
1     HCM      20          2
2   Hanoi      15          1
3     HCM       8          1
4     HCM      12          1
5   Hanoi      15          1
6  Danang      14          1
7  Danang      35          0
8   Hanoi      30          0
9     HCM       5          1

## 8. S·ª± d·ª•ng ƒë·∫∑c trung gi·∫£m chi·ªÅu (PCA - **Unsupervised learning**)

In [67]:
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import datasets
from sklearn.decomposition import PCA 
import pandas as pd 
from sklearn.preprocessing import StandardScaler

‚ùì iris ch·ª©a nh·ªØng g√¨?

C√°c th√†nh ph·∫ßn quan tr·ªçng:

iris.data ‚Üí ma tr·∫≠n ƒë·∫∑c tr∆∞ng X (n_samples, n_features)

iris.target ‚Üí nh√£n y

iris.feature_names ‚Üí t√™n c·ªôt

iris.target_names ‚Üí t√™n class

iris.DESCR ‚Üí m√¥ t·∫£ dataset

üëâ V√¨ th·∫ø b·∫Øt bu·ªôc ph·∫£i ch·ªçn .data n·∫øu mu·ªën l·∫•y X thu·∫ßn.

In [80]:
iris = datasets.load_iris()
X = iris.data
X = pd.DataFrame(data=X, columns=iris['feature_names'])
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [81]:
print(type(iris)) # l√† ki·ªÉu d·ªØ li·ªáu bunch c√≥ th·ªÉ truy c·∫≠p theo ki·ªÉu object hay dictionaries do ƒë√≥ d√πng . hay [''] ƒë·ªÅu ƒë∆∞·ª£c

<class 'sklearn.utils._bunch.Bunch'>

In [83]:
print(X.shape)

(150, 4)

V√¨ sao PCA b·∫Øt bu·ªôc ph·∫£i scale? Variance = m·ª©c ƒë·ªô d·ªØ li·ªáu ‚Äútr·∫£i r·ªông‚Äù quanh gi√° tr·ªã trung b√¨nh.

PCA d·ª±a tr√™n variance.

Feature n√†o variance l·ªõn ‚Üí chi ph·ªëi PCA

ƒê∆°n v·ªã ƒëo kh√°c nhau (cm vs kg) ‚Üí PCA sai l·ªách

üëâ Scale = ƒë∆∞a c√°c feature v·ªÅ c√πng th∆∞·ªõc ƒëo.

In [ ]:
# scale d·ªØ li·ªáu ƒë·ªÉ PCA h·ªçc t·ªët h∆°n --> ph√¢n ph·ªëi chu·∫©n
scaler = StandardScaler() # chu·∫©n h√≥a t·ª´ng c·ªôt theo ph√¢n ph·ªëi chu·∫©n 
X = scaler.fit_transform(X) # fit ƒë·ªÉ t√≠nh mean, ƒë·ªô l·ªách chu·∫©n, transform ƒë·ªÉ √°p d·ª•ng c√¥ng th·ª©c chu·∫©n h√≥a l√™n data
X = pd.DataFrame(data=X,  columns=iris['feature_names']) # do ·ªü ph√≠a tr√™n tr·∫£ v·ªÅ numpyarray m·∫•t t√™n c·ªôt n√™n l√†m b∆∞·ªõc n√†y ƒë·ªÉ g√°n l·∫°i
pca = PCA(n_components=2) # s·ªë l∆∞·ª£ng ƒë·∫∑c tr∆∞ng mu·ªën gi·∫£m xu·ªëng
x_new = pca.fit_transform(X)

X.join(pd.DataFrame(data=x_new, columns=['pca_1', 'pca_2']))

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),pca_1,pca_2
0,-0.900681,1.019004,-1.340227,-1.315444,-2.264703,0.480027
1,-1.143017,-0.131979,-1.340227,-1.315444,-2.080961,-0.674134
2,-1.385353,0.328414,-1.397064,-1.315444,-2.364229,-0.341908
3,-1.506521,0.098217,-1.283389,-1.315444,-2.299384,-0.597395
4,-1.021849,1.249201,-1.340227,-1.315444,-2.389842,0.646835
...,...,...,...,...,...,...
145,1.038005,-0.131979,0.819596,1.448832,1.870503,0.386966
146,0.553333,-1.282963,0.705921,0.922303,1.564580,-0.896687
147,0.795669,-0.131979,0.819596,1.053935,1.521170,0.269069
148,0.432165,0.788808,0.933271,1.448832,1.372788,1.011254
149,0.068662,-0.131979,0.762758,0.790671,0.960656,-0.024332

# v√≠ d·ª• v·ªÅ standartscaler
‚ùì Gi·∫£ s·ª≠ c√≥ 1 m·∫£ng d·ªØ li·ªáu v·ªõi 3 feature th√¨ sau StandardScaler n√≥ bi·∫øn th√†nh g√¨?
D·ªØ li·ªáu g·ªëc (3 feature, 4 m·∫´u)

ƒêi th·∫≥ng v√†o v√≠ d·ª• s·ªë, kh√¥ng n√≥i m∆° h·ªì.

‚ùì Gi·∫£ s·ª≠ c√≥ 1 m·∫£ng d·ªØ li·ªáu v·ªõi 3 feature th√¨ sau StandardScaler n√≥ bi·∫øn th√†nh g√¨?  
D·ªØ li·ªáu g·ªëc (3 feature, 4 m·∫´u)

Sample   Height(cm)   Weight(kg)   Age(year)  
1        170          60            20  
2        160          55            22  
3        180          80            40  
4        175          65            30  

Ta scale t·ª´ng feature ƒë·ªôc l·∫≠p, KH√îNG tr·ªôn l·∫´n.

---

‚ùì B∆∞·ªõc 1: T√≠nh mean & std cho t·ª´ng feature

Height  

Mean = (170+160+180+175)/4 = 171.25  

Std ‚âà 7.4  

Weight  

Mean = 65  

Std ‚âà 10.6  

Age  

Mean = 28  

Std ‚âà 8.37  

---

‚ùì B∆∞·ªõc 2: √Åp c√¥ng th·ª©c scale cho t·ª´ng gi√° tr·ªã

z = (x ‚àí mean) / std  

Sample 1 (170, 60, 20)

Height:  

(170 ‚àí 171.25) / 7.4 ‚âà ‚àí0.17  

Weight:  

(60 ‚àí 65) / 10.6 ‚âà ‚àí0.47  

Age:  

(20 ‚àí 28) / 8.37 ‚âà ‚àí0.96  

‚û°Ô∏è Sau scale:  

[-0.17, -0.47, -0.96]

Sample 3 (180, 80, 40)

Height:  

(180 ‚àí 171.25) / 7.4 ‚âà +1.18  

Weight:  

(80 ‚àí 65) / 10.6 ‚âà +1.42  

Age:  

(40 ‚àí 28) / 8.37 ‚âà +1.43  

‚û°Ô∏è Sau scale:  

[+1.18, +1.42, +1.43]

---

‚ùì V·∫≠y to√†n b·ªô m·∫£ng sau scale tr√¥ng th·∫ø n√†o?

Sample   Height_z   Weight_z   Age_z  
1        -0.17      -0.47      -0.96  
2        -1.52      -0.94      -0.72  
3        +1.18      +1.42      +1.43  
4        +0.51      +0.00      +0.24  

---

‚ùì Nh·∫≠n x√©t c·ª±c quan tr·ªçng (ph·∫£i hi·ªÉu)

- Gi√° tr·ªã c√≥ th·ªÉ √¢m, d∆∞∆°ng, th·∫≠p ph√¢n  
- Kh√¥ng b·ªã gi·ªõi h·∫°n trong [-1, 1]  
- M·ªói feature sau scale c√≥:  
  - Mean ‚âà 0  
  - Std ‚âà 1  
- Kh√¥ng ph·∫£i x√°c su·∫•t  
- Kh√¥ng l√†m tr√≤n ‚Äî v·∫´n l√† s·ªë th·ª±c  

---

‚ùì √ù nghƒ©a tr·ª±c gi√°c c·ªßa t·ª´ng con s·ªë

-0.96 ‚Üí th·∫•p h∆°n trung b√¨nh ~1 ƒë·ªô l·ªách chu·∫©n  

+1.42 ‚Üí cao h∆°n trung b√¨nh ~1.4 ƒë·ªô l·ªách chu·∫©n  

0.00 ‚Üí ƒë√∫ng t·∫°i mean  

üëâ Con s·ªë = ‚Äúc√°ch trung t√¢m bao nhi√™u std‚Äù

---

‚ùì V√¨ sao PCA th√≠ch d·ªØ li·ªáu d·∫°ng n√†y?

Sau scale:

- Height, Weight, Age c√¥ng b·∫±ng  
- PCA nh√¨n th·∫•y m·ªëi t∆∞∆°ng quan th·∫≠t  
- Kh√¥ng b·ªã ‚Äúcm ƒë√® kg‚Äù  

---

‚ùì M·ªôt c√¢u ch·ªët ƒë·ªÉ kh·∫Øc s√¢u

StandardScaler bi·∫øn m·ªói feature th√†nh:  
‚Äúƒëang c√°ch trung b√¨nh c·ªßa ch√≠nh n√≥ bao nhi√™u ƒë·ªô l·ªách chu·∫©n‚Äù

N·∫øu mu·ªën, tao c√≥ th·ªÉ:

- So s√°nh tr·ª±c ti·∫øp PCA tr∆∞·ªõc vs sau scale  
- V·∫Ω h√¨nh 2D cho d·ªÖ ‚Äú√† ra v·∫≠y‚Äù  
- Gi·∫£i th√≠ch v√¨ sao c√≥ ƒëi·ªÉm l√™n t·ªõi ¬±3, ¬±4  

Ch·ªçn ti·∫øp.

---

‚ùì B∆∞·ªõc 1: T√≠nh mean & std cho t·ª´ng feature

Height  

Mean = (170+160+180+175)/4 = 171.25  

Std ‚âà 7.4  

Weight  

Mean = 65  

Std ‚âà 10.6  

Age  

Mean = 28  

Std ‚âà 8.37  

sao b·∫°n t√≠nh mean ƒë∆∞·ª£c  

---

ƒêi th·∫≥ng v√†o c√°ch t√≠nh mean, t·ª´ng ph√©p c·ªông, kh√¥ng nh·∫£y s·ªë.

‚ùì Mean (gi√° tr·ªã trung b√¨nh) l√† g√¨?

Mean = t·ªïng t·∫•t c·∫£ gi√° tr·ªã / s·ªë l∆∞·ª£ng gi√° tr·ªã  

C√¥ng th·ª©c duy nh·∫•t c·∫ßn nh·ªõ:

mean = (x1 + x2 + ‚ãØ + xn) / n  

---

‚ùì T√≠nh mean cho t·ª´ng feature nh∆∞ th·∫ø n√†o?

1Ô∏è‚É£ Height  

D·ªØ li·ªáu:  

170, 160, 180, 175  

C·ªông l·∫°i:  

170 + 160 = 330  
330 + 180 = 510  
510 + 175 = 685  

S·ªë ph·∫ßn t·ª≠ = 4  

Mean:  

685 / 4 = 171.25  

üëâ Mean Height = 171.25  

std ch·ª©  

---

Chu·∫©n. Gi·ªù t√≠nh std t·ª´ng b∆∞·ªõc, kh√¥ng nh·∫£y s·ªë, ƒë·ªÉ m√†y th·∫•y 7.4, 10.6, 8.37 t·ª´ ƒë√¢u ra.

‚ùì Std (ƒë·ªô l·ªách chu·∫©n) l√† g√¨?

Std ƒëo m·ª©c ƒë·ªô d·ªØ li·ªáu l·ªách kh·ªèi mean bao nhi√™u.

C√¥ng th·ª©c (d·∫°ng d√¢n d√£):

std = sqrt( ‚àë(x ‚àí mean)¬≤ / n )  

(StandardScaler c·ªßa sklearn d√πng population std, chia cho n, kh√¥ng ph·∫£i n‚àí1).

---

‚ùì T√≠nh std c·ªßa Height t·ª´ng b∆∞·ªõc

D·ªØ li·ªáu:  

170, 160, 180, 175  

Mean = 171.25  

B∆∞·ªõc 1: Tr·ª´ mean  

x    | x ‚àí mean  
170  | -1.25  
160  | -11.25  
180  | +8.75  
175  | +3.75  

B∆∞·ªõc 2: B√¨nh ph∆∞∆°ng  

(x ‚àí mean)¬≤  
1.56  
126.56  
76.56  
14.06  

B∆∞·ªõc 3: L·∫•y trung b√¨nh  

(1.56 + 126.56 + 76.56 + 14.06) / 4  
= 218.74 / 4  
= 54.685  

B∆∞·ªõc 4: CƒÉn b·∫≠c hai  

sqrt(54.685) ‚âà 7.39 ‚âà 7.4  

üëâ Std Height ‚âà 7.4  

---

‚ùì Std c·ªßa Weight

D·ªØ li·ªáu:  

60, 55, 80, 65  

Mean = 65  

Tr·ª´ mean ‚Üí b√¨nh ph∆∞∆°ng  

x   | (x‚àí65)¬≤  
60  | 25  
55  | 100  
80  | 225  
65  | 0  

T·ªïng:  

25 + 100 + 225 + 0 = 350  

Chia cho 4:  

350 / 4 = 87.5  

CƒÉn:  

sqrt(87.5) ‚âà 9.35  

‚ö†Ô∏è ·ªû ƒë√¢y 10.6 l√† v√≠ d·ª• x·∫•p x·ªâ kh√°c, gi√° tr·ªã ƒë√∫ng ‚âà 9.35.  
Tao s·ª≠a cho chu·∫©n.

üëâ Std Weight ‚âà 9.35  

---

‚ùì Std c·ªßa Age

D·ªØ li·ªáu:  

20, 22, 40, 30  

Mean = 28  

x   | (x‚àí28)¬≤  
20  | 64  
22  | 36  
40  | 144  
30  | 4  

T·ªïng:  

64 + 36 + 144 + 4 = 248  

Chia cho 4:  

248 / 4 = 62  

CƒÉn:  

sqrt(62) ‚âà 7.87  

üëâ Std Age ‚âà 7.87 (kh√¥ng ph·∫£i 8.37 ‚Äî v√≠ d·ª• tr∆∞·ªõc tao l√†m tr√≤n sai, m√†y b·∫Øt l·ªói ƒë√∫ng üëç)

---

‚ùì Ch·ªët c·ª±c quan tr·ªçng (ph·∫£i nh·ªõ)

- Std = cƒÉn c·ªßa variance  
- sklearn d√πng chia cho n  
- M·ªçi con s·ªë sau scale ƒë·ªÅu l√†:  
  ‚Äúl·ªách bao nhi√™u ƒë·ªô l·ªách chu·∫©n so v·ªõi mean‚Äù  

---

‚ùì N·∫øu t·ª± ki·ªÉm tra b·∫±ng code

```python
import numpy as np

np.std([170,160,180,175])
np.std([60,55,80,65])
np.std([20,22,40,30])